---
import '../styles/navbar.css'
import IkariLogo from '../assets/ikarilogo.png'
---

<nav class="navbar">

  <!-- Logo -->
  <a href="/" class="nav-logo">
   <img src={IkariLogo.src}/>
  </a>

  <!-- Nav -->
  <ul class="nav-links" role="list">
    <li><a href="#ikari"    class="nav-pill">Ikari</a></li>
    <li><a href="#servicios"    class="nav-pill">Servicios</a></li>
    <li><a href="#sectores" class="nav-pill">Ideal Para</a></li>
        <li><a href="#precios" class="nav-pill">Precios</a></li>
            <li><a href="#contacto" class="nav-pill">Contacto</a></li>
  </ul>

  <!-- Reloj -->
  <div class="nav-clock" id="navbar-clock" aria-live="off">
    2026-05-21 00:00:00 UTC
  </div>

</nav>



<script>
   import '../scripts/navbar'
</script>